<!DOCTYPE html>
<html style="background:#263238;color:#ECEFF1;">
    <head>
        
    </head>
    <body style="text-align:center;">
        <h3 style="margin:0px;padding:0px;">File Metadata Microservice</h3>
        <h6 style="margin:0px 0px 20px 0px;padding:0px;">FreeCodeCamp BackEnd Basejump</h6>
        <h6 style="margin:0px;padding:0px;">Select a file to view it's filesize.</h6>
        <form action="/" method="post" enctype="multipart/form-data">
            <input style="color:#FDD835;" type="file" name="ourFile" placeholder="">
            <input style="background:#FDD835;border-radius:5px;border:0px solid white;" type="submit">
        </form>
        <code style="margin:10px 0px 0px 0px;color:#FDD835"><%= size %></code>
    </body>
</html>